.equipmentscontainer{
  width: 70%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 23, 105);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.element-equipment{
  background: none;
  width: 80%;
  padding: 1rem 1rem 1rem 1.5rem;
  font-size: 1.4rem;;
  text-align: left;
  font-style: italic;
  color: white;
}

.url-equipment{
  margin-right: 1.5rem;
}

.icon-equipment{
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(1);
}

.fullcontaineruploadimageequipment{
  height: 2rem;
  display: flex;
  flex-direction: row;
  border-right: 1px solid gray;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.boxlabelnameimageequipment {
  width: 80%;
  background-color: white;
  border: 1px solid gray;
}
.boxbuttonsimageequipment{
  width: 20%;
  display: flex;
  flex-direction: row;
  
}

.labelbuttonaddimageequipment,
.labelbuttonuploadimageequipment {
  display: flex;
  width: 5rem;
  padding: 0.2rem 0rem 0.2rem 0rem;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  justify-content: center;
  text-align: center;
  border: 1px solid gray;
  background-color: #D9DFEE;
}

.labelnameimageequipment {
  display: flex;
  height: 2rem;
  justify-content: left;
  align-items: center;
  padding-left: 0.5rem;
}

.inputfile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.buttonuploadimageequipment{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


.inputfile:focus, .labelbuttonaddimageequipment:hover,
.buttonuploadimageequipment:focus, .labelbuttonuploadimageequipment:hover {
  background-color: #D1D7E8;
}

.fullimageequipmentcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.imageequipmentcontainer{
  width: 17%;
  border-radius: 1rem;
  margin: 1rem;
}

.imageequipmentsolicitude{
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}

.add-equipment{
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: rgba(10,10,200, 1);
  margin: 1rem 0rem 2rem 0rem;
}

.equipmentformcontainer {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 2rem 3rem;
  margin-bottom: 4rem;
}

.equipmentformfieldset {
  border: none;
  padding: 0.7rem 0rem;
}

.equipmentinput-full-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}
.equipmenttitleform {
  text-align: left;
  font-size: 1.8rem;
  padding: 1rem 0rem;
}

.equipmentformlabel {
  font-size: 1.4rem;
}

.formbuttonequipment {
  text-decoration: none;
  margin: 2rem 0rem 0rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-size: 1.6rem;
  color: white;
  border: none;
  background-image: linear-gradient(to left, rgba(10,10,200, 1), rgba(10,100,200, 1));
  cursor: pointer;
}

.formbuttonequipment:hover {
  background-image: linear-gradient(to left, rgba(10,10,100, 1), rgba(10,10,100, 1));
}

.equipment-input-title{
  width: 60%;
  height: 1.8rem;
  padding-left: 0.2rem;
}

.equipment-input-flightime-select{
  width: 15%;
  height: 2.2rem;
  padding-left: 0.2rem;
}

.equipment-input-flightime-text{
  width: 30%;
  height: 1.8rem;
  padding-left: 0.2rem;
}


.equipmentformlabel {
  width: 40%;
  text-align: left;
}

.error-input-container-equipment{
  display: flex;
  justify-content: flex-end;
}

.iconcontainerequipments{
  width: 100%;
  text-align:center;
  padding-top: 3rem;
}
.img-equipments {
    width: 15rem;
    height: 15rem;
    border-radius: 3rem;
    filter: grayscale(100%);
}

.description-equipments {
    padding-top: 2rem;
    text-align: justify;
    font-size: 1.2rem;
}

.titleequipments {
    font-size: 2rem;
}

