.fullcontainerupload {
  width:100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border-right: none;
}

.labelnameimage {
  display: flex;
  height: 2rem;
  justify-content: left;
  align-items: center;
  padding-left: 0.5rem;
}

.inputfile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.boxlabelnameimage1 {
  width: 80%;
  background-color: white;
  border: 1px solid gray;
}

.boxlabelnameimage2 {
  width: 70%;
  background-color: white;
  border: 1px solid gray;
}

.boxbuttonsimage1 {
  width: 20%;
  display: flex;
}

.boxbuttonsimage2 {
  width: 30%;
  display: flex;
  flex-direction: row;
}

.labelbuttonadddocument1{
  display: flex;
  width: 100%;
  right: 0px;
  padding: 0.2rem 0rem 0.2rem 0rem;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  justify-content: center;
  text-align: center;
  border: 1px solid gray;
  background-color: #D9DFEE;
}

.labelbuttonadddocument2{
  display: flex;
  width: 50%;
  left: 0px;
  padding: 0.2rem 0rem 0.2rem 0rem;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  justify-content: center;
  text-align: center;
  border: 1px solid gray;
  background-color: #D9DFEE;
}

.labelbuttonuploaddocument {
  display: flex;
  right: 0px;
  width: 50%;
  padding: 0.2rem 0rem 0.2rem 0rem;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  justify-content: center;
  text-align: center;
  border: 1px solid gray;
  background-color: #D9DFEE;
}

.buttonuploadimage{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile:focus, .labelbuttonaddimage:hover,
.buttonuploadimage:focus, .labelbuttonuploadimage:hover {
  background-color: #D1D7E8;
}

.fullimagecontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.imagecontainer{
  width: 17%;
  border-radius: 1rem;
  margin: 1rem;
}

.imagesolicitude{
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}