.dropmenu a {
  text-decoration: none;
}

/* .dropmenu nav {
  font-family: monospace;
} */

.dropmenu ul {
  background: rgb(143, 178, 255);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.dropmenu li {
  color: #fff;
  /* background: darkorange; */
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  width: 100px;
  text-align: center;
}

.dropmenu li a {
  color: #fff;
}

.dropmenu li:hover {
  background: rgb(2, 0, 143);
  cursor: pointer;
}

.dropmenu ul li ul {
  background: rgb(143, 178, 255);
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.dropmenu ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
