.fullcontainer {
  width: 100%;
  height: 85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pond5.com/drone-quadcopter-forest-background-footage-087770961_prevstill.jpeg");
  background-color: #E5E5E5;
  background-repeat: no-repeat;
  background-size: Auto;
}

.formcontainer{
  display: flex;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  width: 50rem;
  margin: 4rem Auto;
  background-color: #E7ECF7;
  opacity: 0.85;
}

.formfieldset{
  display:flex;
  flex-direction: column;
  width: 75%;
  float: left;
  border: none;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.formbutton {
  text-decoration: none;
  margin: 2rem 0rem 2rem 0rem;
  padding: 1rem 1.6rem;
  margin-top: 3rem;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-size: 2rem;
  color: white;
  border: none;
  background-image: linear-gradient(to left, rgba(10,10,200, 1), rgba(10,100,200, 1));
  cursor: pointer;
}
.formbutton:hover {
  background-image: linear-gradient(to left, rgba(10,10,100, 1), rgba(10,10,100, 1));
}

.formlabel{
  margin: 1rem 0 1rem 0rem;
  font-size: 1.6rem;
}

.boxtitleform{
  display: flex;
  width: 100%;
  height: 8rem;
  align-items: center;
  justify-content: center;
  margin: 0rem 0rem 2rem 0rem;
  background-color: rgb(0, 23, 105);
  color: white;
}

.input-full-container {
  display:flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}
.label-input-container{
  width: 55%;
}
.input-container{
  float: right;
  width: 45%;
}
.input-container select{
  height: 2rem;
}
.error-input-container{
  color: red;
  float: right;
  width: 40%;
}
progress{
  width: 100%;
}
.input-title{
  width: 89%;
  height: 2rem;
  float: right;
  margin-left: 1rem;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.input{
  width: 90%;
  height: 2rem;
  float: right;
  margin-left: 1rem;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.inputtextarea{
  background-color: white;
  width: 100%;
  height: 20vh;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;    
}

.fullcontaineruploadimage{
  height: 2rem;
  display: flex;
  flex-direction: row;
  border-right: 1px solid gray;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.boxlabelnameimage {
  width: 80%;
  background-color: white;
  border: 1px solid gray;
}
.boxbuttonsimage{
  width: 20%;
  display: flex;
  flex-direction: row;
  
}

.labelbuttonaddimage,
.labelbuttonuploadimage {
  display: flex;
  width: 5rem;
  padding: 0.2rem 0rem 0.2rem 0rem;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  justify-content: center;
  text-align: center;
  border: 1px solid gray;
  background-color: #D9DFEE;
}

.labelnameimage {
  display: flex;
  height: 2rem;
  justify-content: left;
  align-items: center;
  padding-left: 0.5rem;
}

.inputfile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.buttonuploadimage{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


.inputfile:focus, .labelbuttonaddimage:hover,
.buttonuploadimage:focus, .labelbuttonuploadimage:hover {
  background-color: #D1D7E8;
}

.fullimagecontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.imagecontainer{
  width: 17%;
  border-radius: 1rem;
  margin: 1rem;
}

.imagesolicitude{
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}